/* ss common */
.error{color:red!important;}
body{   font-family: 'Raleway', sans-serif;   font-size: 14px; color: #363636;}
.page_title{ padding: 30px 0; clear: both; overflow: hidden; text-align: center; }
.page_title h3{ font-size: 36px; color: #333; font-weight: 700; position: relative;}
.page_title h3 span{ color:#2bb559;}

a{ color: #333;}
.page-link{ color: #2bb559;}
.btnwhite{ background: #fff; color: #2bb559; font-weight: bold;   padding: 10px 20px;}
.btnwhite:hover{ background: transparent ;  border-color:#fff; color: #fff; font-weight: bold;}
.btnwhitebr{ border-color:#fff;  padding: 10px 20px; background: transparent ; color: #fff; font-weight: bold;  }
.btnwhitebr:hover{ background:#fff  ; color: #2bb559; }
.slick-dots{ padding: 0; text-align: center; }
.slick-dots li{ list-style-type: none; display: inline-block;  }
.slick-dots button{     
    background: #2bb559;
    border: 0;
    border-radius: 50%;
    color: #2bb559;
    height: 12px;
    width: 10px;
    margin: 5px 2px;
    font-size: 0; }
    .slick-active button{ background:#ffb213; }

    /* ss menu  */

    #ss_menu{ position: fixed;   width: 100%;   top: 0;   left: 0;   z-index: 1000;}
    #ss_menu a{ color: #333;  font-size: 16px;}
    #ss_menu .ss_b{  border-color:#31b559;  margin-left:15px;  margin-right:15px; color:#31b559;}
    #ss_menu .ss_b:hover{ background-color:#31b559; color:#fff;    }
    #ss_menu .ss_bg{  background-color:#31b559;  color: #fff; border-color: #31b559;}
    #ss_menu.fixed{  background-color:rgba(255,255,255,.9);  color: #fff;  border-bottom:1px solid #31b559;}
    .card.text-center{ width:auto !important; }
    .search_result .col-sm-3{ margin:0 !important;}

    /* ss banner */
    .banner{  position: relative;  color: #fff; margin-top:70px;}
    .banner h3{  margin: 20px 0px;}
    .banner p{ color: #fff;} 
    .banner .banner_botom .btn{ margin: 10px;  }
    .banner_content{ position: absolute;  width: 100%;  text-align: center;  left: 0;  top: 15%;}
    .banner .form-control{     font-size: 14px; font-weight: 500; background: #f0f1f0; height: calc(3.0rem + 2px); border-radius: 0;  border: 0; border-right: 1px solid #ccc;}
    .banner .input-group-prepend{     margin: 0;}
    .banner .input-group-prepend input{ display: inline-block; width: 100px; }
    .banner button{  background-color:#2bb559 ;   border:2px solid #4fd67c;  font-size: 18px;
        font-weight: 700;   margin-left: 5px;   min-width: 150px;}
        .banner button:hover{ background-color:#209e48 ; border-color: #2bb559;}
        .banner_img{ height:350px; overflow:hidden;}
        .banner_img img{ width:100%;}
        .list-group-item .rateyoo.jq-ry-container{ width:100px !important; margin: auto;}
        .list-group-item .rateyo_ev.jq-ry-container{ width:100px !important; margin: auto;}
        .list-group-item .rateyo_user.jq-ry-container{ width:100px !important; margin: auto;}
        /* .list-group-item .rateyoo .jq-ry-rated-group{ width:100px !important; margin: auto;} */

        /*ss client logo */
        .ss_clients_logo{ text-align: center; padding: 50px 0px;}
        .ss_clients_logo ul{   padding: 0; margin: 0; overflow: hidden;}
        .ss_clients_logo ul li{ list-style-type: none;  display: inline-block; padding: 15px 20px;}
        .ss_clients_logo h3 span{ color: #2bb559; font-weight: 700;}
        .ss_clients_logo h3 strong{ color:#ffb213;}

        /*ss top supplier */

        .top_s_item{ margin-bottom: 50px;}
        .top_s_item h3{ font-size: 18px; font-weight: 700;}
        .top_s_item .top_s_img{ margin-bottom:10px; height:150px; line-height:150px; width: 100%; text-align: center; background: #fafafa;}
        .top_s_item .top_s_img img{ max-height: 100px; margin: auto; display: inline-block;}
        .top_s_rat { overflow: hidden; font-weight: bold; color: #2bb559; margin-bottom: 8px;}
        .top_s_item .top_s_rat span i{ color: #2bb559; font-size: 13px;}
        .top_s_item .top_s_rat .not-rate i{ color: #c2c2c2; }
        .top_s_item ul{ padding: 0; padding-left: 15px; }
        .top_s_item ul li{ list-style-type: circle;  line-height: 24px;}
        .top_s_item a{ color: #363636}
        .top_s_item  h4 a{ font-size:20px;}
        .top_s_item .ss_r_btn{ display: block; color: #2bb559; text-decoration: underline;  line-height: 20px;  border-radius: 0; }

        /*ss how it work */


        /* who we are */
        .who_we_are{ padding: 100px 0px; background: url(../img/w_cd.png) no-repeat; background-size: cover;}
        .who_we_are p{ color: #c6ffd9; line-height: 30px; font-size: 16px;}
        .who_we_are{ margin-bottom: 30px;     overflow: hidden;}
        .who_we_are .who_heading h3 { color: #fff; font-size: 36px; font-weight: 700;}
        .who_we_are .who_heading p{ color: #fff; font-size: 14px;}
        .who_we_are .who_w_ing{ position: relative;}
        .who_we_are .who_w_ing::after{ border: 10px solid #a7dcb9; content:""; position: absolute; right: -15%; bottom:-15%; height: 130%; width:85%;  }
        .who_we_are .who_w_ing img{ z-index: 10;     position: relative;}

        /* how it work */

        .how_it_work{ padding: 50px 0px;}
        .how_it_work .how_it_heading h3{color: #2bb559; font-size: 36px; font-weight: 700;}
        .how_it_work p{ line-height: 30px;}
        .padding80{ padding:25% 0px;}

        /* user evaluations */

        .user_evaluations { background:url(../img/top_test.png) no-repeat #ededf8; background-size: contain; padding: 50px 0; }

        .testmonial_item{
            background: #fff;
            border-radius: 15px;
            padding: 35px;

            margin: 30px;
        }
        .ss_testmonial .slick-slide {

            box-sizing: border-box;
        }
        .testmonial_item_top{ margin-bottom: 20px; overflow: hidden;}
        .testmonial_item_top h4{ margin: 0px; margin-top: 15px;}
        .testmonial_item_img{ height: 80px; width: 80px; border-radius: 50%; float: left; margin-right: 10px; overflow: hidden;}
        .testmonial_item_img img{ width: 100%;}
        /* footer */

        footer{ background: url(../img/footer_bg.png) no-repeat #0f1112; padding: 50px 0px; background-size: cover; color: #717171; }
        footer h4 { color: #3fb765; padding-bottom: 20px; font-size: 20px;}
        footer ul{ padding: 0;}
        footer li{  list-style-type: none; line-height: 30px;}
        footer a{ color: #717171; }
        footer a:hover{ color: #fff; }
        footer .footer_contact img{
            margin-bottom:10px;
        }
        footer .contact_info li {   line-height: 20px; list-style-type: none; margin-bottom: 20px;}
        footer .contact_info li span {
            float: left;
            display: inline-block;
            margin-right: 10px;
            border: 2px solid #fff;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            color: #fff;
        }
        .suscrible_footer .form-group{ position: relative;}
        footer form .form-control {
            margin-bottom: 0;
            background: #fff;
            border-radius: 100px;
            border: 0;

            padding-right: 50px;
            font-size: 13px;
        }
        .suscrible_footer button {
            background: #2bb559;
            border: none;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0px;
            line-height: 38px;
            border-radius: 50px;
            font-size: 14px;
            font-weight: 700;
            padding: 0px 15px;

        }
        .footer_social li {
            border-radius: 50%;
            display: inline-block;
            margin: 5px;
            border: 1px solid #fff;
            height:30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
        }
        .footer_social li a{ color: #fff;}
        .copyright{ padding-top: 50px; color: #fff;}
        .copyright span{ color: #2bb559;}

        /* ss login */
        #new_evaluation .modal-header, #user_register .modal-header, #user_login .modal-header{   background: #2bb559; color: #fff;     padding: 5px 15px;}
        #new_evaluation .modal-header h5,#user_register .modal-header h5, #user_login .modal-header h5{ font-size: 26px; text-align: center; font-weight: 700; margin: auto; }
        #new_evaluation .modal-header .close, #user_register .modal-header .close, #user_login .modal-header .close{ margin: 0;}
        #new_evaluation .modal-footer, #user_register .modal-footer, #user_login .modal-footer{  background: #2bb559; color: #fff; text-align: center; display: block;}
        #new_evaluation .modal-footer p, #user_register .modal-footer p, #user_login .modal-footer p{ margin: 0; }
        #new_evaluation .modal-footer p a, #user_register .modal-footer p a, #user_login .modal-footer p a{ text-decoration: underline; font-weight: bold; color: #fff;}
        .social_login{ text-align: center;}
        .social_login > div{ margin: 10px 0px;}
        #new_evaluation .page_title, #user_register .page_title, #user_login .page_title{ padding: 0;}
        #new_evaluation .page_title h3, #user_register .page_title h3, #user_login .page_title h3{ font-size: 20px; font-weight: 500;}
        #new_evaluation .form-control, #user_register .form-control, #user_login .form-control{ background: #f2f2f2; color: #333; border: 0; border-radius: 0;}
        .btn-info{ background-color: #2bb559; border-color: #2bb559;}
        .text-info {
            color:#2bb559 !important;
        }
        #new_evaluation .login_form .form-group{ font-weight: bold;}
        #new_evaluation .login_form .form-group span{ font-weight: bold; padding-right: 20px; }
        /* ss search */
        .inner_baner{    max-height: 300px;    overflow: hidden}
        #inner_main{ padding: 30px 0px;}

        /* eveluation details */

        .header_profile_img{ height: 80px; width: 80px; border-radius: 50%; margin: auto;     overflow: hidden;}
        .header_profile_img img{ height: 80px;     max-width: inherit; }


        .evulation_details{ padding: 50px 0px; }
        .evulation_details_cont{ padding: 15px;}
        .evulation_details_top ul{ padding: 0; padding-left: 15px;}
        .evulation_details_top li{ list-style-type: circle; line-height: 30px;}
        .evulation_detail_mid h3{ color:#2bb559 ; font-weight: 700;}
        .review_details{ padding: 30px; background: #f9f9f9; margin: 30px 0px;}
        .review_details th, .review_details td{ border: 0 !important; font-weight: bold;}
        .review_details span{color: #2bb559; }
        .review_details span i, .review_details_r i{ color: #2bb559;}
        .review_details span i.active, .review_details_r i.active{  color: #ffb213;}
        .review_details span i:hover, .review_details_r span i:hover{ color: #ffb213;}
        .evulation_detail_bottom h3{color:#333 ; font-weight: 700; }
        .evulation_review_profiless{ overflow: hidden;   margin-bottom: 20px;}
        .evulation_review_details{    overflow: hidden; }
        .evulation_review_profiless_img{ float: left; margin-right: 15px !important; border: 2px solid #2bb559;  height: 80px; width: 80px; border-radius: 50%; margin: auto;     overflow: hidden;}
        .evulation_review_profiless h3{ font-size: 16px; font-weight: 700; padding-top: 15px;}
        .evulation_review_details textarea{    background: #f1f1f1;}
        .evulation_review_details  h5{ margin: 20px 0px;}
        .evulation_review_details  h5 a{ color: #2bb559; text-decoration: underline;}


        /* ss mobile responsive */
        @media only screen and (min-width:768px)  and (max-width:992px) {
            .who_we_are .who_w_ing{ margin-top:50px;}
            .banner_img img{ min-height:350px; width:auto;}
            .banner h3 {    font-size: 20px;}
            .banner .input-group-prepend input{     width: auto;    margin-bottom: 10px;}
            .banner_content{ top:8%;}
        }
        @media only screen and (max-width:768px) {
            .banner_img{ height:auto; }
            .banner_img img{ min-height:350px; width:auto;}
            .who_we_are .who_w_ing{ margin-top:50px;}
            .banner{ overflow: hidden;}
            .banner h3 {  font-size: 20px;    }
            .banner img{ max-width: inherit;}
            .banner .form-control{    height: calc(2.50rem + 2px);}
            .banner select.form-control{ width: 33.3%;}
            .banner .input-group-prepend{ width: 100%; margin-bottom: 10px;}
            .blog_item::after{ width:90%;}
            #latest_blog .b_latest_cont h3{ font-size: 20px;}
            .b_latest_cont{ padding-left: 15%;}
            .navbar-collapse.show{ background:#f8f9fa; padding: 10px;}
            #ss_menu .ss_b{ margin: 10px 0px;}
            .review_details th, .review_details td{  display: block; text-align: center; padding: 5px; }
            .review_details tr { padding-bottom: 20px; display: block; }
            .banner .input-group-prepend input{width: 33.3%; }
            .banner_content{ top:8%;}
            .top_supllier .justify-content-md-center h4{margin-left: 44px;}

        }
        @media only screen and (max-width:400px) {

        }
