
.navbar-custom{
  background-color:#4A0D48 !important;

}

.topbar .topbar-left{
 background-color:#4A0D48 !important;

}    

.dripicons-menu{
 background-color:#4A0D48 !important;

}

#sidebar-menu > ul >  li > a {
  color: #fff;
  display: block;
  padding: 12px 20px;
  margin: 4px 0;
  border-left: 3px solid #1D1B1D;
}
#sidebar-menu > ul >  li > a:hover {
  color: #fff !important;

}
#sidebar-menu ul ul a:hover{
  color: #fff !important; 
}
.btn btn-success btn-xs{
 background-color:#4A0D48 !important;
}
#sidebar-menu ul ul li.active a {
  color: #fff;
}

.side-menu.left{
 background-color:#1D1B1D !important;
 color:#fff !important;
}
.waves-effect active{
 background-color:#4A0D48 !important;
}
.waves-effect subdrop{
 background-color:#4A0D48 !important;
}
.button-menu-mobile{
 background-color:#4A0D48 !important;
}
.side-menu.left{
  color:#fff;
}
#sidebar-menu > ul > li > a.active{
 background-color:#4A0D48 !important;
 border-left: 3px solid #1D1B1D !important;
 color:#FFF!important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .page-item.active .page-link{

  background-color: #4A0D48 !important;
  border-color: #4A0D48 !important;
}
#sidebar-menu .subdrop {
  background: #4A0D48 !important;
  border-left: 3px solid #1D1B1D !important;
  color: #fff !important;
}

.btn-rounded {
  background-color: #4A0D48 !important;
  border-color: #4A0D48 !important;
}


.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
  background-color: #4A0D48 !important;
  border: 1px solid #4A0D48 !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:hover {
  background: #4A0D48 !important;
  color:#fff;
}


#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
  background: #4A0D48 !important;
  box-shadow: none;
  padding-left: 15px;
  position: relative;
  width: 186px;
  z-index: 6;
}


element.style {
}

#wrapper.enlarged #sidebar-menu ul ul {
  border: 2px solid #4A0D48 !important;
  margin-top: -5px;
  padding-top: 5px;
  z-index: 9999;
  background-color: #4A0D48 !important;
}

#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
  min-height: 52px;
  border-left: 3px solid #1D1B1D !important;
  color: #fff !important;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul {
  background-color: #4A0D48 !important;
}